<?xml version="1.0" encoding="utf-8" ?>  <!-- 현재 파일이 XML 파일이기 때문에 맨 위에 XML 선언이 온다 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd"> <!-- 규칙을 정의한 DTD 선언 -->

<!-- 게시판 관련된 모든 sql문들을 다 여기에 넣을거임 -->

<!-- SQL Mapper 파일은 루트 엘리먼트 <mapper>를 작성하는거로 시작함.
        <mapper>의 namespace 속성은 자바의 패키지처럼 sql문들을 묶는 용도로 사용(부모)
-->
<mapper namespace="com.bitstudy.app.dao.boardimgMapper">
    <!--    namespace 는 mybatis-config.xml 에 BoardDto 로 주소 맞춰놨음(Alias)
            BoardDao에서 넘어오는 parameterType 이 bno 라는 정수형 값이기 때문에  parameterType="int" 라고 썼고
            select 문을 돌려서 나온 결과를 BoardDto에 담아서 리턴해줄거기 때문에 resultType="BoardDto" 로 썼음
    -->

    <!-- 글 사진 저장 -->
    <insert id="insert_img" parameterType="board_imgDto">
        insert into board_img (b_no, ki_src) values (#{b_no},#{ki_src})
    </insert>

    <update id="imgupdate" parameterType="board_imgDto">
        update board_img set ki_src=#{ki_src} where b_no=#{b_no}
    </update>







</mapper>